@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,900;1,100;1,300;1,400;1,700&family=Open+Sans:wght@300;400;600&family=Playfair+Display:ital,wght@0,400;0,500;0,800;1,400;1,600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,900;1,100;1,300;1,400;1,700&family=Open+Sans:wght@300;400;600&family=Playfair+Display:ital,wght@0,400;0,500;0,800;1,400;1,600&display=swap");
h1,
h2,
h3,
h4 {
	color: #e92569 !important;
}

p {
	color: #767676 !important;
}

a {
	text-decoration: none;
	color: #000;
}

i {
	font-size: 30px;
	margin-right: 30px;
	cursor: pointer;
}

i.fa-map-pin {
	font-size: 45px;
}

body,
html {
	height: 100%;
}

body {
	font-family: "Playfair Display";
	background-color: #efefef;
	margin: 0;
}

main {
	margin-bottom: 100px;
}

.first-wrapper {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-ms-flex-direction: row;
	flex-direction: row;
	width: 90%;
	margin: 0 auto;
}

@media (max-width: 900px) {
	.first-wrapper {
		-webkit-box-orient: vertical;
		-webkit-box-direction: reverse;
		-ms-flex-direction: column-reverse;
		flex-direction: column-reverse;
	}
}

.second-wrapper,
.news-wrapper {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	width: 90%;
	margin: 0 auto;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
}

.second-wrapper__title {
	margin: 50px 0px;
}

@media (max-width: 900px) {
	.second-wrapper,
	.news-wrapper {
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		-ms-flex-direction: column;
		flex-direction: column;
	}
}

.news-wrapper {
	margin: 20px auto;
}

.news-wrapper h1 {
	margin-bottom: 30px;
}

.nav {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-ms-flex-direction: row;
	flex-direction: row;
	-ms-flex-wrap: nowrap;
	flex-wrap: nowrap;
}

@media (max-width: 580px) {
	.nav {
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		-ms-flex-direction: column;
		flex-direction: column;
	}
}

.nav-link {
	color: #e92569 !important;
}

.nav-link.active {
	background-color: #fff;
	color: #000 !important;
}

.col-md-4 {
	width: 176px;
	margin: 10px;
}

.card-body__text a {
	margin-right: 25px;
}

.page-link {
	color: #e92569 !important;
}

.page-item.active .page-link {
	background-color: #e92569 !important;
	color: #fff !important;
}

.card-body__title {
	color: #000;
}

.card-body__button {
	border-right: 25px solid #767676 !important;
	border: none;
	background-color: #e92569 !important;
	color: #fff;
	width: 80%;
	margin: 10px auto;
	padding: 5px;
}

.card {
	padding-bottom: 20px;
}

.footer {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-ms-flex-direction: row;
	flex-direction: row;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-ms-flex-negative: 0;
	flex-shrink: 0;
	padding-top: 0.5em;
	background-color: #fff;
}

.footer__social {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	margin-left: 250px;
}

.footer__text {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-ms-flex-direction: row;
	flex-direction: row;
	-webkit-box-pack: space-evenly;
	-ms-flex-pack: space-evenly;
	justify-content: space-evenly;
	width: 100%;
}

@media (max-width: 990px) {
	.footer {
		display: -ms-grid;
		display: grid;
		grid-template-areas:
			"social"
			"text";
	}
	.footer__social {
		-ms-grid-row: 1;
		-ms-grid-column: 1;
		grid-area: social;
		-webkit-box-pack: center;
		-ms-flex-pack: center;
		justify-content: center;
		margin-left: 25px;
	}
	.footer__text {
		-ms-grid-row: 2;
		-ms-grid-column: 1;
		grid-area: text;
		grid-gap: 90px;
		margin-top: 15px;
	}
}

form {
	margin: 2% auto;
	-webkit-box-flex: 0;
	-ms-flex: 0 1 auto;
	flex: 0 1 auto;
	max-width: 450px;
}

.form-info {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-box-pack: start;
	-ms-flex-pack: start;
	justify-content: flex-start;
	margin: 8% auto;
}

.form-info__box {
	width: 100%;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-ms-flex-direction: row;
	flex-direction: row;
}

#form-button {
	width: 100%;
	max-width: 450px;
	margin-left: 0px;
}

.form-check-input {
	padding: 15px;
	margin: 0px 10px 10px 0px;
	background-color: #e92569 !important;
	font-size: 10px;
}

.form-check-label {
	width: 80%;
	font-size: 14px;
}

h1,
h2,
h3,
h4 {
	color: #e92569 !important;
}

p {
	color: #767676 !important;
}

a {
	text-decoration: none;
	color: #000;
}

i {
	font-size: 30px;
	margin-right: 30px;
	cursor: pointer;
}

i.fa-map-pin {
	font-size: 45px;
}

.navbar {
	padding-bottom: 20px;
}

a.navbar-brand {
	color: #e92569 !important;
	font-weight: bold;
	font-style: italic;
}

.active {
	background-color: #ffff;
}

.btn {
	margin-left: -13px;
	border-radius: 0px 5px 5px 0px;
	border-left: none;
	border: none;
	background-color: #e92569 !important;
	color: #fff;
}

@media (min-width: 900px) {
	.d-flex {
		max-width: 50%;
		position: absolute;
		right: 0;
	}
}
/*# sourceMappingURL=style.css.map */
