.footer {
	display: flex;
	flex-direction: row;
	justify-content: center;
	flex-shrink: 0;
	padding-top: 0.5em;
	background-color: #fff;

	&__social {
		display: flex;
		margin-left: 250px;
	}

	&__text {
		display: flex;
		flex-direction: row;
		justify-content: space-evenly;
		width: 100%;
	}

	@media (max-width: 990px) {
		& {
			display: grid;
			grid-template-areas:
				"social"
				"text";

			&__social {
				grid-area: social;
				justify-content: center;
				margin-left: 25px;
			}

			&__text {
				grid-area: text;
				grid-gap: 90px;
				margin-top: 15px;
			}
		}
	}
}
