footer {
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	flex-shrink: 0;
	padding-top: 20px;
	background-color: #fff;

	@media (max-width: 990px) {
		& {
			flex-direction: column;
			justify-content: center;
		}
	}
}

.footer__text {
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	margin: 0 auto;
	width: 80%;

	&__copyright {
		position: absolute;
		right: 23px;
	}

	@media (max-width: 990px) {
		&__copyright {
			position: static;
		}
	}
}

.footer__social {
	margin-left: 30px;
	@media (max-width: 990px) {
		& {
			display: flex;
			flex-direction: row;
			justify-content: center;
			margin-bottom: 20px;
			font-size: 40px;
		}
	}

	i {
		font-size: 25px;
		color: $secondary-color;
	}
}
