form {
	margin: 2% auto;
	flex: 0 1 auto;
}

.form-info {
	display: flex;
	flex: 1 1 auto;
	flex-direction: column;
	align-items: center;
	margin: 8% auto;

	&__box {
		width: 100%;
		display: flex;
		flex-direction: row;
	}
}
