.index-wrapper {
	display: flex;
	width: 90%;
	margin: 0 auto;
	flex-direction: column;

	&__title {
		margin: 50px 0px;
	}

	@media (max-width: 900px) {
		& {
			flex-direction: column;
		}
	}
}

.nav {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
}
