.nav {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;

	@media (max-width: 580px) {
		& {
			flex-direction: column;
		}
	}
}

// cards

.nav-link {
	color: $primary-color;

	&.active {
		background-color: #fff;
		color: #000 !important;
	}
}

.col-md-4 {
	width: 176px;
	margin: 10px;
}

.card-body__text {
	a {
		margin-right: 25px;
	}
}
